/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    position: relative;
    height: 30vh;
    display: flex;
    flex-flow: column wrap;
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
    align-items: center;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */

    list-style: none;
    margin: 0;
    justify-content: center;
    width: 100%;
}

.navigation a:link,
.navigation a:visited {
    text-decoration: none;
    border-radius: 10%;
    display: block;
    padding: 1em;
    color: white;
    transition: 0.2s;
}

.navigation a:hover,
.navigation a:active {
    color: #e84393;
    /* font-size: 105%; */
    margin: 0px 30px;
    transform: scale(1.1);
}

.greeting {
    align-self: center;
    margin-top: 90px;
    font-size: 250%;
    font-weight: 200;
    transform: translate(0, 50%);
    color: #fff;
    background-color: #e84393;
    padding: 2px;
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.4);
}
