/* COLORS */
/* 
light blue ->  #6dd5ed
dark blue -> #2193b0
greetings pink -> #e84393
*/

/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/* ----------------------------------------- */
/* headings */
/* ----------------------------------------- */
h1 {
    font-size: 250%;
    font-weight: 200;
    margin: 10px;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

h2:after {
    /* pseudo-class for h2 */
    display: block;
    height: 2px;
    background-color: #e84393;
    content: '';
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    text-align: center;
}
/* ----------------------------------------- */
/* Reusable */
/* ----------------------------------------- */

.section {
    padding: 60px 0px;
    position: relative;
}

.btn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6dd5ed; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    border-radius: 10px;
    cursor: pointer; /* Mouse pointer on hover */
    transition: 0.5s;
    text-align: center;
}

.btn:hover {
    background-color: #2193b0;
}

.btn-big {
    padding: 10px;
    font-size: 120%;
}

.btn-small {
    padding: 5px;
    font-size: 100%;
}

/* button {
    outline: none;
    background: none;
    border: 2px solid #2193b0;
    padding: 11px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    align-content: center;
}

button:hover,
active {
    background: #2193b0;
    color: black;
} */

ul {
    list-style: none;
}

ion-icon {
    font-size: 32px;
    margin: 0px 5px;
}
/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.39), #e8439336),
        url(/media/images/header-background.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.commands {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed);
    height: 250px;
    width: 100%;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */
    height: 30hv;
    list-style: none;
    margin: 0;
    justify-content: center;
    width: 100%;
}

.navigation a:link,
.navigation a:visited {
    text-decoration: none;
    border-radius: 10%;
    display: block;
    padding: 1em;
    color: white;
    transition: 0.2s;
}

.navigation a:hover,
.navigation a:active {
    color: #e84393;
    /* font-size: 105%; */
    margin: 0px 30px;
    transform: scale(1.1);
}

.greeting {
    position: relative;
    text-align: center;
    width: 60%;
    transform: translate(0%, -50%);
    color: #fff;
    background-color: #e84393;
    padding: 2px;
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    word-spacing: 4px;
    animation: animate 5s linear infinite alternate;
}

@keyframes animate {
    0% {
        background-color: white;
        color: #e84393;
    }
    100% {
        background-color: #e84393;
        color: white;
    }
}

/*---------------- heading quote ------------------ */

blockquote {
    color: white;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 2;
    padding: 2%;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 145%;
    position: relative;
    transform: translate(0, 30%);
    width: 80%;
}

/* adding a " before*/
blockquote:before {
    position: absolute;
    content: '\201C';
    font-size: 300px;
    display: block;
    left: -3px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 5px;
}

/* ----------------------------------------- */
/* SECTION WEEKLY STATS */
/* ----------------------------------------- */

.weekly-stats {
    background-color: white;
    /* width: 100%; */
}

.single-chart {
    width: 33%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 150px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.grey .circle {
    stroke: #555;
}

.circular-chart.pink .circle {
    stroke: #e84393;
}

.circular-chart.blue .circle {
    stroke: #6dd5ed;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.3em;
    text-anchor: middle;
}

.stats-elements {
    display: flex;
    /* width: 100%; */
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.numbers {
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-flow: column wrap;
}

.infobox {
    /* box-shadow: 0 1px 1px rgba(75, 76, 78, 0.25),0 0 0 1px rgba(0, 0, 0, 0.08);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    border-radius: 3px;
    width: auto;
    height: auto; */
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    flex-direction: column;
    width: 400px;
    position: relative;
    animation: dropAnimation 5s linear 2s infinite;
    margin-bottom: 140px;
}

.activities-percentages {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row nowrap;
}

.infobox #infoboxTitle {
    color: #2193b0;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.infobox #info {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

@keyframes dropAnimation {
    0% {
        top: 0px;
    }
    50% {
        top: 150px;
    }
    75% {
        top: 140px;
    }
    100% {
        top: 0px;
    }
}

/* ----------------------------------------- */
/* SECTION YOUR ACTIVITIES */
/* ----------------------------------------- */

.your-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ededed;
    width: 100%;
    height: 60rem;
}

.drag-drop {
    display: flex;
    width: 70%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.form-activities {
    margin-top: 10px;
}

.form-activities li {
    margin-top: 10px;
}

#box1,
#box2 {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.drag-drop p {
    border: solid 1px;
    margin: 5px 0px;
}

/* add activity btn */

.hidden {
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 6;
    animation-name: animatemodal;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes animatemodal {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.overlay {
    /* position fix to affect all the sections !! */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.add-activity {
    margin-top: 50px;
}

/* form */

.form-activities {
    margin: 0 auto;
    /* other way of centering in parent element */
}

input[type='text'],
input[type='email'],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #555;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}
